<ul class="list-group w-100 " *ngFor="let todo of todos">
  <li class="list-group-item d-flex justify-content-between w-100">
    <span>
      <input
        (change)="todo.changeTodoStatus(todo)"
        type="checkbox"
        [checked]="todo.isComplete"
      />
    </span>
    <span [ngClass]="{ completedTodo: todo.isComplete }">
      {{ todo.title | uppercase }}
    </span>
    <span>
      {{ todo.date | date: "MM/dd/yyyy" }}
    </span>
    <span>
      <p (click)="deleteTodo(todo)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </p>
    </span>
  </li>
</ul>
